.cell {
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    margin: -1px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.125rem;
    padding: 0;
    background-color: white;
}

.cell--highlight {
    color: red;
}
